@model ShortTerm.Web.Data.Scheme

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Scheme</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReassuranceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReassuranceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommencementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommencementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConversionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConversionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RulesAmmendment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RulesAmmendment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetentionLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetentionLimit)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clients)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
