@model SchemeVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details for: @Model.RegName</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReassuranceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReassuranceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommencementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommencementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConversionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConversionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RulesAmmendment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RulesAmmendment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetentionLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetentionLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstitutionalClientsName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstitutionalClientsName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@Model?.Id">Edit</a> 
</div>
