@model IEnumerable<SchemeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReassuranceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommencementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RulesAmmendment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetentionLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionalClientsName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReassuranceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommencementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulesAmmendment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetentionLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionalClientsName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
