@model IEnumerable<SchemeVM>

@{
    ViewData["Title"] = "Schemes";
}

<h1>Schemes</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Taxno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReassuranceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommencementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConversionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RulesAmmendment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetentionLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstitutionalClientsName)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReassuranceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommencementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RulesAmmendment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetentionLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionalClientsName)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><i class="fa fa-pencil-alt"></i></a> &nbsp;
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info "><i class="fa fa-info-circle"> </i></a>&nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger deleteBtn mt-1"><i class="fa fa-trash"></i></a>&nbsp;
            </td>
        </tr>
}
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="schemeId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function () {

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#schemeId').val(id);//get id of form then set value to id in btn
                        $('#deleteForm').submit();//target form and submit< go to delete in controller etc>
                    }
                });
            });
             
        });
    </script>
}