@model ShortTerm.Web.Data.PolicyReassurance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PolicyReassurance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumAssured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumAssured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReassurerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReassurerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReassuranceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReassuranceType.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-id="@Model?.Id">Edit</a> 
</div>
