@using Microsoft.AspNetCore.Identity
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themepixels.me/demo/starlight/app/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 08:18:06 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShortTerm Insurance Insurance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/chosen/chosen.css" rel="stylesheet" />
    <link href="~/lib/chosen/chosen.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShortTerm.Web.styles.css" asp-append-version="true" />


    <!-- Twitter -->
    @* <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels"> *@
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Starlight">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="../../../starlight/img/starlight-social.html">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/starlight">
    <meta property="og:title" content="Starlight">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="../../../starlight/img/starlight-social.html">
    <meta property="og:image:secure_url" content="../../../starlight/img/starlight-social.html">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">

    <title>Starlight Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/lib/rickshaw/rickshaw.min.css" rel="stylesheet">

    <!-- Starlight CSS -->
    <link rel="stylesheet" href="~/css/starlight.css">
    <style>
        .scrollable-list {
            max-height: 300px; /* Set a fixed height for the list */
            overflow-y: auto; /* Enable vertical scrolling */
            border: 1px solid #ccc; /* Optional: Add a border for better visibility */
            padding: 10px; /* Optional: Add padding for better appearance */
        }
        .navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #111;
  white-space: nowrap;
  text-transform: uppercase;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #0c1483;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-top: 2px solid #0c1483;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #111;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #0c1483;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}
    </style>
</head>

<body>

    <!-- ########## START: LEFT PANEL ########## -->
    <div class="sl-logo"><a asp-area ="" asp-controller="Home" asp-action="Index"><i class="icon ion-android-star-outline"></i> Short Term Insurance</a></div>
    <div class="sl-sideleft">
        

        <label class="sidebar-label">Navigation</label>
        <div class="sl-sideleft-menu">
            <a class="sl-menu-link active" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="sl-menu-item">
                    <i class="menu-item-icon icon ion-ios-home-outline tx-22"></i>
                    <span class="menu-item-label">Home</span>
                </div><!-- menu-item -->
            </a><!-- sl-menu-link -->
            @if (SignInManager.IsSignedIn(User)){
                <a asp-controller="Schemes" asp-action="Index" class="sl-menu-link">
                    <div class="sl-menu-item">
                        <i class="menu-item-icon ion-ios-pie-outline tx-20"></i>
                        <span class="menu-item-label">Schemes</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>

                <!-- sl-menu-link -->
                <ul class="sl-menu-sub nav flex-column">
                    <li class="nav-item"><a asp-controller="Schemes" asp-action="Create" class="nav-link">Scheme Creation</a></li>
                    <li class="nav-item"><a asp-controller="Schemes" asp-action="Index" class="nav-link">Scheme Enquiries</a></li>
                </ul>
                <a href="#" class="sl-menu-link">
                    <div class="sl-menu-item">
                        <i class="menu-item-icon icon ion-ios-gear-outline tx-24"></i>
                        <span class="menu-item-label">Products</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>

                <!-- sl-menu-link -->
                <ul class="sl-menu-sub nav flex-column">
                    <li class="nav-item"><a asp-controller="ProductGroups" asp-action="Index" class="nav-link">Groups Enquiries</a></li>
                    <li class="nav-item"><a asp-controller="ProductGroups" asp-action="Create" class="nav-link">Group Creation</a></li>
                    <li class="nav-item"><a asp-controller="IndividualProducts" asp-action="Index" class="nav-link">Product Enquiries</a></li>
                    <li class="nav-item"><a asp-controller="IndividualProducts" asp-action="Create" class="nav-link">Product Creation</a></li>
                </ul>
                <a href="#" class="sl-menu-link">
                    <div class="sl-menu-item">
                        <i class="menu-item-icon icon ion-ios-filing-outline tx-24"></i>
                        <span class="menu-item-label">Clients</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>

                <!-- sl-menu-link -->
                <ul class="sl-menu-sub nav flex-column">
                    <li class="nav-item"><a asp-controller="Clients" asp-action="Create" class="nav-link">Client Creation</a></li>
                    <li class="nav-item"><a asp-controller="Clients" asp-action="Index" class="nav-link">Client Enquiries</a></li>
                    <li class="nav-item"><a asp-controller="Clients" asp-action="ChangeApprovalStatus" class="nav-link">Client Approval</a></li>
                </ul>
                <a href="#" class="sl-menu-link">
                    <div class="sl-menu-item">
                        <i class="menu-item-icon icon ion-ios-bookmarks-outline tx-20"></i>
                        <span class="menu-item-label">Policies</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>

                <!-- sl-menu-link -->
                <ul class="sl-menu-sub nav flex-column">
                    <li class="nav-item"><a asp-controller="Policies" asp-action="Create" class="nav-link">Policy Creation</a></li>
                    <li class="nav-item"><a asp-controller="Policies" asp-action="Index" class="nav-link">Policy Enquiries</a></li>
                    <li class="nav-item"><a asp-controller="UnderWritings" asp-action="Index" class="nav-link">Underwriting Enquiries</a></li>
                </ul>
                <a href="#" class="sl-menu-link">
                    <div class="sl-menu-item">
                        <i class="menu-item-icon icon ion-ios-navigate-outline tx-24"></i>
                        <span class="menu-item-label">Reassurance</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>

                <!-- sl-menu-link -->
                <ul class="sl-menu-sub nav flex-column">
                    <li class="nav-item"><a asp-controller="Reassurers" asp-action="Create" class="nav-link">Reasurer Creation</a></li>
                    <li class="nav-item"><a asp-controller="Reassurers" asp-action="Index" class="nav-link">Registered Reassurers </a></li>
                    <li class="nav-item"><a asp-controller="Reassurers" asp-action="Index" class="nav-link">Reassurance Enquirires</a></li>
                </ul>

                <!-- sl-menu-link -->
                <a href="#" class="sl-menu-link">
                    <div class="sl-menu-item">
                        <i class="menu-item-icon icon ion-ios-paper-outline tx-22"></i>
                        <span class="menu-item-label">Claims</span>
                        <i class="menu-item-arrow fa fa-angle-down"></i>
                    </div><!-- menu-item -->
                </a>

                <!-- sl-menu-link -->
                <ul class="sl-menu-sub nav flex-column">
                    <li class="nav-item"><a asp-controller="Claims" asp-action="Create" class="nav-link">Claim Creation</a></li>
                    <li class="nav-item"><a asp-controller="Claims" asp-action="Index" class="nav-link">Claim Enquiries</a></li>
                </ul>
            }
          
        </div><!-- sl-sideleft-menu -->

        <br>
    </div><!-- sl-sideleft -->
    <!-- ########## END: LEFT PANEL ########## -->
    <!-- ########## START: HEAD PANEL ########## -->
    <div class="sl-header">
        <div class="sl-header-left">
            <div class="navicon-left hidden-md-down"><a id="btnLeftMenu" href="#"><i class="icon ion-navicon-round"></i></a>
                </div>
            <div class="navicon-left hidden-lg-up"><a id="btnLeftMenuMobile" href="#"><i class="icon ion-navicon-round"></i></a></div>
        </div><!-- sl-header-left -->
        <div class="">
            @if (SignInManager.IsSignedIn(User)){
            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    @* <li><a href="index.html" class="active">Home</a></li> *@

                    <li class="dropdown">
                        <a href="#"><span class="text-white">System Variables</span> <i class="bi bi-chevron-down"></i></a>
                        <ul class="scrollable-list">
                            <li><a asp-area="" asp-controller="Timegroups" asp-action="Index">Time Groups</a></li>
                            <li><a asp-area="" asp-controller="InstitutionTypes" asp-action="Index">Institution Types</a></li>
                            <li><a asp-area="" asp-controller="HumanDemographicGroups" asp-action="Index">Human Demographic Groups</a></li>
                            <li><a asp-area="" asp-controller="PremiumPaymentFrequencies" asp-action="Index">Premium Payment Frequencies</a></li>
                            <li><a asp-area="" asp-controller="BusinessDecision" asp-action="Index">Business Decision</a></li>
                            <li><a asp-area="" asp-controller="RelationshipTypes" asp-action="Index">Relationship Types</a></li>
                            <li><a asp-area="" asp-controller="Requirements" asp-action="Index">Requirements</a></li>
                            <li><a asp-area="" asp-controller="PaymentMethods" asp-action="Index">Payment Methods</a></li>
                            <li><a asp-area="" asp-controller="InterestRateTypes" asp-action="Index">Interest Rate Types</a></li>
                            <li><a asp-area="" asp-controller="InterestRateFrequencies" asp-action="Index">Interest Rate Frequencies</a></li>
                            <li><a asp-area="" asp-controller="Banks" asp-action="Index">Banks</a></li>
                            <li><a asp-area="" asp-controller="StopOrderName" asp-action="Index">Stop Order Name</a></li>
                            <li><a asp-area="" asp-controller="Countries" asp-action="Index">Countries</a></li>
                            <li><a asp-area="" asp-controller="Cities" asp-action="Index">Cities</a></li>
                            <li><a asp-area="" asp-controller="IdentificationTypes" asp-action="Index">Identification Types</a></li>
                            <li><a asp-area="" asp-controller="Languages" asp-action="Index">Languages</a></li>
                            <li><a asp-area="" asp-controller="MedicalRequirements" asp-action="Index">Medical Requirements</a></li>
                            <li><a asp-area="" asp-controller="HabitsAndInterests" asp-action="Index">Habits And Interests</a></li>
                            <li><a asp-area="" asp-controller="Currencies" asp-action="Index">Currencies</a></li>
                            <li><a asp-area="" asp-controller="Occupations" asp-action="Index">Occupations</a></li>
                            <li><a asp-area="" asp-controller="AddressTypes" asp-action="Index">Address Types</a></li>
                            <li><a asp-area="" asp-controller="MaritalStatus" asp-action="Index">Marital Status</a></li>
                            <li><a asp-area="" asp-controller="Titles" asp-action="Index">Titles</a></li>
                            <li><a asp-area="" asp-controller="IncomeTypes" asp-action="Index">Income Types</a></li>
                            <li><a asp-area="" asp-controller="Qualifications" asp-action="Index">Qualifications</a></li>
                            <li><a asp-area="" asp-controller="Religions" asp-action="Index">Religions</a></li>
                            <li><a asp-area="" asp-controller="AccountTypes" asp-action="Index">Account Types</a></li>
                            <li><a asp-area="" asp-controller="UnderwritingQuestions" asp-action="Index">Underwriting Questions</a></li>
                            <li><a asp-area="" asp-controller="PrimaryUseOfPropertyScores" asp-action="Index">Primary Use Of Property </a></li>
                            <li><a asp-area="" asp-controller="SecurityOfPropertyScores" asp-action="Index">Security Of Property </a></li>
                            <li><a asp-area="" asp-controller="LocationOfProperties" asp-action="Index">Location Of Properties</a></li>
                            <li><a asp-area="" asp-controller="StateOfProperties" asp-action="Index">State Of Properties</a></li>

                        </ul>
                    </li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
            }
        </div>
        <div class="sl-header-right">

            <ul class="navbar-nav">
                
                @if (SignInManager.IsSignedIn(User))
                {
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name! </a>
                    </li>
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
         
          
        </div><!-- sl-header-right -->
    </div><!-- sl-header -->
    <!-- ########## END: HEAD PANEL ########## -->
    <!-- ########## START: RIGHT PANEL ########## -->


    <!-- ########## START: MAIN PANEL ########## -->
    <div class="sl-mainpanel">
        
        <div class="sl-pagebody">

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

        </div><!-- sl-pagebody -->
        <footer class="sl-footer">
            <div class="container">
                &copy; @DateTime.Now.Year - ShortTerm.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
         
        </footer>
    </div><!-- sl-mainpanel -->
    <!-- ########## END: MAIN PANEL ########## -->

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="~/lib/d3/d3.js"></script>
    <script src="~/lib/rickshaw/rickshaw.min.js"></script>
    <script src="~/lib/chart.js/Chart.js"></script>
    <script src="~/lib/Flot/jquery.flot.js"></script>
    <script src="~/lib/Flot/jquery.flot.pie.js"></script>
    <script src="~/lib/Flot/jquery.flot.resize.js"></script>
    <script src="~/lib/flot-spline/jquery.flot.spline.js"></script>

    <script src="~/js/starlight.js"></script>
    <script src="~/js/ResizeSensor.js"></script>
    <script src="~/js/dashboard.js"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/chosen/chosen.jquery.js"></script>
    <script src="~/lib/chosen/chosen.jquery.min.js"></script>
    <script>
        $(function () {
            new DataTable('.table');
        });
    </script>
    <script>
        $(function () {

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#schemeId').val(id);//get id of form then set value to id in btn
                        $('#deleteForm').submit();//target form and submit< go to delete in controller etc>
                    }
                });
            });

        });
    </script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

<!-- Mirrored from themepixels.me/demo/starlight/app/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 13 Dec 2023 08:19:20 GMT -->
</html>
