@model IEnumerable<PolicyListVM>

@{
    ViewData["Title"] = "Policies";
}


<p>
    <a asp-action="Create" class="btn btn-outline-success">Create New</a>
</p>
<div class="col-12">

    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Policies</h4>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table id="example5" class="text-fade table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PremiumTerm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SumAssured)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>
            <th>Acition</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndividualProduct.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Client.FirstName)  @Html.DisplayFor(modelItem => item.Client.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PremiumTerm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumAssured)
            </td>
            <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge bg-success">Approved</span>
                    }
                    else if (item.Approved == null)
                    {
                        <span class="badge bg-warning">Pending</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
            </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info "><i class="fa fa-info-circle"> </i></a>&nbsp
                    <button data-id="@item.Id" class="btn btn-outline-danger deleteBtn " type="button"><i class="fa fa-trash"></i></button>&nbsp
                    <a asp-controller="UnderWritings" asp-action="Create" asp-route-id="@item.Id" class="btn btn-outline-warning mt-1">
                        @* <i class="fa fa-check-circle"> </i> *@ Underwriting</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
</div>
<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="schemeId" name="Id" />
</form>