@model ShortTerm.Web.Data.Client

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientTypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfResidence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryOfResidence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HghestQualificationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HghestQualificationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPersonNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPersonNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAuthorized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAuthorized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
