@model ShortTerm.Web.Data.IndividualProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IndividualProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductGroup.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retention)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retention)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumAssuredBasis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumAssuredBasis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanBeCeded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanBeCeded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPremiumTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPremiumTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinPremiumTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPremiumTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinSumAssured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinSumAssured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSumAssured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxSumAssured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
