@model IEnumerable<ShortTerm.Web.Models.ProductPolicyRequirementCreateVM>

@{
    ViewData["Title"] = "Policy Rules";
}

<h1>Policy Rules</h1>

<p>
   @*  <a asp-action="Create" class="">Create New</a> *@
    <a href="javascript:void(0);" onclick="createOrUpdateClick()" class="btn btn-outline-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndividualProduct)
            </th>
            <th>
            <th>
                @Html.DisplayNameFor(model => model.IsMandatory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IndividualProduct.Id)
            </td> *@
           @*  <td>
                @Html.DisplayFor(modelItem => item.Requirement.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.IsMandatory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function createOrUpdateClick() {
      var productID = 4 /* provide the actual value for productID */;

        fetch(`/IndividualProductsController/CreatePolicyRequirement?productID=${productID}`, {
        method: 'GET',
        headers: {
          'Cache-Control': 'no-cache',
        },
      })
      .then(response => response.text())
      .then(data => {
        document.getElementById('div-pop-up').innerHTML = data;
        ShowPopUp();
      })
      .catch(error => console.error('Error:', error));
    }

    function ShowPopUp(modalTitle) {
        $("#ModalPopUp").text(modalTitle);
        $("#div-pop-up-modal").modal({ show: true });
        $("#tabs").tabs();
    }
</script>