@model ShortTerm.Web.Data.UnderWriting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UnderWriting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Policy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Policy.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientProposedValueOfAsset)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientProposedValueOfAsset)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateOfProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateOfProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationOfProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationOfProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecurityOfPropertyScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecurityOfPropertyScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimaryUseOfPropertyScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimaryUseOfPropertyScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
